body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #ff00dd;
    color: white;
    padding: 10px;
    text-align: center;
}
main {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
}
img {
    display: block;
    margin: 0 auto 50px;
    border-radius: 50%;
}   
button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    padding : 30px;
    text-align : center;
}
button:hover {
    background-color: #45a049;
}
